.container {
  background-color: $blue-400;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $red-900;
    height: 80px;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;

      .options {
        display: flex;
        justify-content: space-evenly;
        color: $white;
        font-size: 16px;
        width: 310px;
        font-family: PoppinsBolder;

        li {
          cursor: pointer;
          list-style: none;
        }
      }

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: PoppinsBolder;

        .elixir {
          font-weight: bold;
          color: $white;
          font-size: 32px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .agregator {
      display: flex;
      flex-direction: row;

      .right_content {
        padding-left: 40px;
        width: 100%;

        .top_infos {
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 30%;
          padding-top: 20px;

          .info_cards {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 0.1rem;

            .label {
              font-family: PoppinsBold;
              font-size: 24px;
              color: $black;
            }

            .btn_div {
              width: 100%;
              display: flex;
              justify-content: right;
              padding-top: 10px;
            }
          }
        }

        .bottom_infos {
          font-family: PoppinsNormal;
          width: 100%;
          display: flex;
          max-height: 400px;
          flex-direction: column;
          justify-content: space-between;
          overflow-y: auto;
        }

        .pagination {
          font-family: PoppinsNormal;
        }
      }
      .bottom_infos::-webkit-scrollbar {
        width: 10px;
      }

      .bottom_infos::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $blue-700;
      }
    }
  }
}
