.container {
  background-color: $blue-400;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $red-900;
    height: 80px;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      font-family: PoppinsBolder;

      .options {
        display: flex;
        justify-content: space-between;
        color: $white;
        font-weight: bold;
        font-size: 18px;
        width: 250px;
        li {
          cursor: pointer;
          list-style: none;
        }
      }

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .elixir {
          font-weight: bold;
          color: $white;
          font-size: 24px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .agregator {
      display: flex;
      flex-direction: row;

      .right_content {
        padding-left: 40px;

        .top_infos {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 250px;
          padding-top: 20px;

          .info_cards {
            .label {
              font-size: 24px;
              color: $blue-700;
              font-family: PoppinsBolder;
            }
          }

          .headerMin {
            font-family: PoppinsNormal;
            cursor: pointer;
          }
          .headerMax {
            font-family: PoppinsBold;
          }
        }

        .bottom_infos {
          display: flex;
          margin-top: 20px;
          justify-content: space-between;

          .left_bottom {
            width: 50%;
            .label {
              font-weight: bold;
              font-size: 24px;
              color: $blue-700;
              font-family: PoppinsBolder;
            }

            .square {
              display: flex;
              flex-direction: column;
              background-color: $white;
              border-radius: 10px;
              max-width: 300px;
              min-height: 150px;
              margin-bottom: 20px;
              padding: 10px 20px 10px 20px;

              .square_title {
                font-family: PoppinsBolder;
              }

              .square_description {
                margin-top: 15px;
                font-size: 12px;
                font-family: PoppinsNormal;
              }

              .square_date {
                color: $red-900;
                font-family: PoppinsBolder;
                font-size: 32px;
                margin-top: 20px;
              }

              .pen {
                color: $red-900;
                align-self: flex-end;
                cursor: pointer;
              }
            }
          }

          .right_bottom {
            .label_div {
              max-width: 220px;

              .label {
                font-family: PoppinsBolder;
                flex-wrap: wrap;
                font-size: 24px;
                color: $blue-700;
              }
            }
            .list_cards {
              overflow-y: scroll;
              max-height: 320px;
            }
          
          }

         
          
          .list_cards::-webkit-scrollbar{
            width: 10px;
          }
          
          .list_cards::-webkit-scrollbar-thumb{
            border-radius:5PX;
            background-color: $blue-700;
          }
        }
      }
    }
  }
}
