.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border-radius: 30px;
  width: 350px;
  background-color: $blue-700;
  
  .content {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 410px;
    max-height: 410px;

    .img {
      width: 100px;
      margin: 10px 0 0 0;
    }

    .title {
      font-size: 32px;
      font-weight: bold;
      color: $white;
    }

    .description {
      font-size: 16px; 
      font-weight: normal;
      color: $grey-400;
    }
  }
}
