.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 300px 0;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }

  .image {
    margin-top: 40px;
    z-index: 10;

    @include tablet {
      width: 800px;
    }
  }

  .redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
