.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }

  .image {
    margin-top: 40px;
    z-index: 10;
  }

  .redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
