// Responsive variables
$mobile: 540px;
$tablet: 1024px;
$desktop: 1280px;

// Color palette
$red-900: #FF2939;

$white: #fff;

$black: #000;
$black-transparent: #0000003d;

$blue-400: #E9ECF3;
$blue-600: #9AAFD4;
$blue-700: #1E344F;
$blue-900: #101116;

$grey-400: #d3d3d3;
$grey-600: #9A9A9A;
$grey-800: #4F555A;
