.container {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 50px;

      @include desktop {
        margin-left: 0px;
        justify-content: left;
      }

      .text {
        text-align: right;
        width: 350px;
        font-size: 16px;
        font-family: "PoppinsBold";
        margin-top: 40%;

      }
    }

    .middle{
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 16%;

      @include mobile {
        display: none;
      }

      .woman {
        width: 500px;
      }

      .blood_bag_top {
        width: 180px;
        top: 50px;
        left: 30px;
        position: absolute;
        transform: rotate(320deg);

        @include tablet {
          top: 0;
          width: 90px;
        }
      }

      .blood_bag_bottom {
        width: 180px;
        position: absolute;
        bottom: 100px;
        right: 20px;
        transform: rotate(20deg);

        @include tablet {
          bottom: 40px;
          right: 30px;
          width: 90px;
        }
      }
    }

    .right_side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 50px;
      margin-top: 16%;
      height: 300px;

      @include desktop {
        margin-right: 20px;
      }

      .markdown {
        font-weight: regular;
        font-size: 16px; 
        font-family: "PoppinsBold";
        text-align: right;
      }
    }
  }
}