.container {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 50px;

      @include desktop {
        margin-left: 0px;
        justify-content: left;
      }

      .text {
        text-align: right;
        width: 350px;
        font-size: 16px;
        font-family: "PoppinsBold";
        
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      position: relative;

      @include mobile {
        display: none;
      }

      .woman {
        width: 400px;
      }

      .blood_bag_top {
        width: 30%;
        top: 80px;
        left: 10px;
        position: absolute;
        transform: rotate(320deg);

        @include tablet {
          top: 0;
          width: 90px;
        }
      }

      .blood_bag_bottom {
        width: 30%;
        position: absolute;
        bottom: 100px;
        right: 40px;
        transform: rotate(20deg);

        @include tablet {
          bottom: 40px;
          right: 30px;
          width: 90px;
        }
      }
    }

    .right_side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 25%;

      .forms {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
        @include desktop {
          margin-right: 20px;
        }

        .markdown {
          font-weight: regular;
          font-size: 16px;
          font-family: "PoppinsBold";
          text-align: right;
          color: $grey-800;
          margin-top: 20px;
          font-size: 12px;
          cursor: pointer;
        }

        input {
          height: 35px;
          width: 100%;
        }

        .passwordIcon {
          position: absolute;
          width: 5%;
          display: flex;
          margin: 7.8% 0 0 21.6%;
          color: gray;
          cursor: pointer;
        }
      }
    }
  }
}
