.container {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 50px;

      @include desktop {
        margin-left: 0px;
        justify-content: left;
      }

      .text {
        text-align: end;
        width: 350px;
        font-size: 32px;
      }
      h3 {
        font-family: PoppinsNormal;
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      position: relative;

      @include mobile {
        display: none;
      }

      .man {
        margin-top: 15%;
        width: 500px;
      }

      .blood_bag_top {
        width: 30%;
        top: 80px;
        left: 10px;
        position: absolute;
        transform: rotate(320deg);

        @include tablet {
          top: 0;
          width: 90px;
        }
      }

      .blood_bag_bottom {
        width: 30%;
        position: absolute;
        bottom: 100px;
        right: 40px;
        transform: rotate(20deg);

        @include tablet {
          bottom: 40px;
          right: 30px;
          width: 90px;
        }
      }
    }

    .right_side {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      @include desktop {
        margin-right: 20px;
      }

      .markdown {
        font-weight: regular;
        font-size: 16px;
      }

      .forms {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20%;
        height: 100%;
        width: 100%;

        .next {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: $black-transparent 0px 3px 8px;
          border-color: transparent;
          background-color: $red-900;
          color: $white;
          height: 50px;
          padding: 0px 20px 0px 20px;
          border-radius: 10px;
          font-size: 16px;
          font-family: PoppinsBold;
          font-weight: bold;
          cursor: pointer;
        }

        .label {
          margin: 10px 0 0 10px;
        }

        input {
          height: 35px;
          width: 100%;
          position: relative;
        }
        .passwordIcon {
          position: absolute;
          width: 5%;
          display: flex;
          margin: 7.8% 0 0 21.6%;
          color: gray;
          cursor: pointer;
        }

        .goBack {
          font-family: PoppinsNormal;
        }
      }

      .btn_stepper {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
      }

      .terms {
        color: $grey-800;
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
}
