.container {
  justify-content: center;
  .content {
    display: flex;
    flex-direction: row;

    .left_side {
      width: 60%;
      height: 100vh;
      flex-direction: column;
      text-align: right;
      padding: 100px 0 0 200px;
      position: relative;

      .blue_shadow {
        position: absolute;
        top: 100px;
        right: 100px;
      }

      .text {
        margin-top: 5%;

        .h2 {
          font-family: PoppinsBolder;
          color: $black;
          line-height: 80px;
          font-size: 75px;
          margin: 0px;

          @include tablet {
            font-size: 64px;
          }
        }
      }
      .h1 {
        font-family: PoppinsBolder;
        color: $black;
        font-size: 90px;
        color: $blue-700;
        margin: 0px;

        @include tablet {
          font-size: 80px;
        }
      }

      .redirect {
        margin-top: 25px;
        margin-bottom: 3%;
        font-family: "PoppinsBolder";

        .label {
          font-size: 16px;
        }

        @include tablet {
          margin-top: 30px;
        }
      }
    }

    .right_side {
      position: relative;
      display: flex;
      justify-content: right;
      width: 70%;
      height: 100vh;

      .block {
        z-index: 1;
        position: absolute;
        height: 100%;
        background-color: $red-900;
        width: 60%;
        justify-content: flex-end;

        @include tablet {
          width: 55%;
        }
      }

      .doctor {
        margin: 0px 40px 0 0;
        z-index: 2;
      }

      .blood_bag {
        position: absolute;
        bottom: 50%;
        z-index: 2;
        width: 180px;
        animation: float 2s infinite alternate;

        @include tablet {
          bottom: 350px;
          width: 150px;
        }
      }

      .pott {
        position: absolute;
        bottom: 2%;
        z-index: 2;
        width: 180px;
        animation: float 2s infinite alternate;

        @include tablet {
          bottom: 50px;
          width: 150px;
        }
      }

      .icon {
        position: absolute;
        bottom: 60%;
        margin-right: 60%;
        z-index: 2;
        width: 180px;
        animation: float 2s infinite alternate;

        @include tablet {
          bottom: 400px;
          margin-right: 330px;
          width: 150px;
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
