.button {
  height: 50px;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: $black-transparent 0px 3px 8px;
  background-color: $white;
  color: $red-900;
  border-color: transparent;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: 700ms all ease;
}
