.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 220px;
  border-radius: 10px;
  font-size: 16px;
  background-color: $white;
  padding-left: 10px;
  margin-bottom: 10px;
}