.container {
  justify-content: center;
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .left_side {
      width: 88%;
      height: 100vh;
      flex-direction: column;
      position: relative;
    }

    .card1 {
      display: flex;
      position: absolute;
      margin: 0% 0% 17% 5%;
      background-color: #ff2939;
      border-radius: 10px;
      width: 50%;
      height: 100px;

      align-items: center;
      justify-content: center;
      color: #ffff;
      font-family: "PoppinsBolder";
      font-size: 20px;
    }
    .card2 {
      display: flex;
      position: absolute;
      margin: 17% 0% 0% 5%;
      background-color: #ff2939;
      border-radius: 10px;
      width: 50%;
      height: 100px;
      border-radius: 10px;
      

      align-items: center;
      justify-content: center;
      color: #ffff;
      font-family: "PoppinsBolder";
      font-size: 20px;
    }
    .card3 {
      display: flex;
      position: absolute;
      margin: 35% 0% 0% 30%;
      z-index: 2;
      background-color: #1e344f;
      border-radius: 10px;
      width: 51%;
      width: 60%;
      height: 100px;
      padding: 15px;


      align-items: center;
      justify-content: center;
      color: #ffff;
      font-family: "PoppinsBolder";
      font-size: 18px;
    }
    .card4 {
      display: flex;
      position: absolute;
      z-index: 2;
      background-color: #1e344f;
      border-radius: 10px;
      margin: 36% 0% 37% 30%;
      width: 51%;
      width: 60%;
      height: 100px;
      padding: 15px;

      align-items: center;
      justify-content: center;
      color: #ffff;
      font-family: "PoppinsBolder";
      font-size: 20px;
    }

    .text {
      margin-top: 10%;
    }

    .right_side {
      position: relative;
      display: flex;
      justify-content: right;
      height: 100vh;

      .block {
        z-index: 1;
        position: absolute;
        height: 100%;
        background-color: #ff2939;
        width: 80%;
        justify-content: flex-end;

        @include tablet {
          width: 55%;
        }
      }

      .blood_bag {
        position: absolute;
        bottom: 0%;
        right: 216%;
        z-index: 2;
        width: 164px;
        animation: float 2s infinite alternate;

        @include tablet {
          bottom: 350px;
          width: 150px;
        }
      }

      .pott {
        z-index: 2;
        width: 32%;
        margin-bottom: 64%;
        margin-right: 32%;
      }
    }
  }
}
