html, body {
  font-family: Poppins;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: PoppinsBolder;
  src: url(/fonts/Poppins-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: PoppinsNormal;
  src: url(/fonts/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: PoppinsBold;
  src: url(/fonts/Poppins-SemiBold.ttf);
  font-weight: bold;
}
   