.container {
  width: 100%;
  height: 100%;
  Header {
    position: relative;
  }
  justify-content: center;

  .content {
    position: relative;

    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-left: 4%;
    margin-top: 2%;
    width: 50%;

    h3 {
      font-family: PoppinsNormal;
      font-size: 16px;
    }

    .elixir{
      font-family: PoppinsBolder;
    }
  }

  .buttons {
    position: relative;
    font-family: PoppinsNormal;
    font-size: 15px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-left: 13%;
    margin-top: 2%;

    .or {
      margin-left: 14%;
    }
  }
  .rigth_side {
    top: 0;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    .block {
      background-color: $red-900;
      width: 27%;

      @include tablet {
        width: 55%;
      }
    }

    .doctor {
      margin-right: 2%;
      margin-top: 8.1%;
      position: absolute;
      width: 30%;
      height: 82.3%;
    }
  }
}
